- name: istio.attributegen
  typed_config:
    "@type": type.googleapis.com/udpa.type.v1.TypedStruct
    type_url: type.googleapis.com/envoy.extensions.filters.http.wasm.v3.Wasm
    value:
      config:
        root_id: "attributegen"
        vm_config:
          vm_id: attributegen{{ .N }}
          runtime: {{ .Vars.WasmRuntime }}
          code:
            local: { inline_string: "envoy.wasm.attributegen" }
        configuration:
          "@type": "type.googleapis.com/google.protobuf.StringValue"
          value: |
            attributes:
            - outputAttribute: istio_responseClass
              match:
              - value: 2xx
                condition: response_code >= 200 && response_code <= 299
