- name: istio.basic_auth
  typed_config:
    "@type": type.googleapis.com/udpa.type.v1.TypedStruct
    type_url: type.googleapis.com/envoy.extensions.filters.http.wasm.v3.Wasm
    value:
      config:
        vm_config:
          runtime: {{ .Vars.BasicAuthWasmRuntime }}
          code:
            local: { {{ .Vars.BasicAuthFilterConfig }} }
        configuration:
          "@type": "type.googleapis.com/google.protobuf.StringValue"
          value: |
            {{ .Vars.BasicAuthConfigurationData }}