- name: upstream_peer_metadata
  typed_config:
    "@type": type.googleapis.com/udpa.type.v1.TypedStruct
    type_url: type.googleapis.com/envoy.extensions.network_filters.peer_metadata.UpstreamConfig
    value: {}
