transport_socket:
  name: envoy.transport_sockets.tls
  typed_config:
    "@type": type.googleapis.com/envoy.api.v2.auth.DownstreamTlsContext
    common_tls_context:
      tls_certificates:
      - certificate_chain: { filename: "testdata/certs/cert-chain.pem" }
        private_key: { filename: "testdata/certs/key.pem" }
      validation_context:
        trusted_ca: { filename: "testdata/certs/root-cert.pem" }
    require_client_certificate: true
