definitions:
- name: custom
  value: "1"
  type: COUNTER
metrics:
  - name: request_duration_milliseconds
    drop: true
  - name: custom
    dimensions:
      reporter: "'proxy'"
  - tags_to_remove:
    - response_flags
    - source_principal
  - name: requests_total
    dimensions:
      configurable_metric_a: "'gateway'"
      source_workload: "'_' + xds.node.metadata['WORKLOAD_NAME']"
      source_workload_namespace: "'_' + xds.node.metadata['NAMESPACE']"
      source_app: "'_' + xds.node.metadata['LABELS'].app"
      source_version: "'_' + xds.node.metadata['LABELS'].app" # same as above expression
      request_protocol: request.protocol
      destination_version: "'_' + xds.node.metadata.LABELS.version"
      destination_service_namespace: "'_' + filter_state.upstream_peer.service"
      destination_app: "cannot _ parse | {{ .N }}"
      destination_workload: "cannot_evaluate"
      route_name: xds.route_name + "," + xds.cluster_name + "," + xds.cluster_metadata.filter_metadata.istio.services[0].name
    tags_to_remove:
    - grpc_response_status
  - name: request_bytes
    dimensions:
      configurable_metric_b: "'test'"
    tags_to_remove:
    - reporter
  - dimensions:
      source_principal: "'malicious'"
