name: server
connect_timeout: 1s
type: STATIC
load_assignment:
  cluster_name: server
  endpoints:
  - lb_endpoints:
    - endpoint:
        address:
          socket_address:
            address: 127.0.0.1
            port_value: {{ .Vars.ServerPort }}
