access_log:
- name: otel
  typed_config:
    "@type": type.googleapis.com/envoy.extensions.access_loggers.open_telemetry.v3.OpenTelemetryAccessLogConfig
    common_config:
      log_name: otel
      transport_api_version: V3
      grpc_service:
        envoy_grpc:
          cluster_name: otel
    resource_attributes:
      values:
      - key: reporter_id
        value:
          string_value: BLAH
    attributes:
      values:
      - key: attribute_id
        value:
          string_value: FOO
