version: 2

jobs:
  build:
    docker:
      - image: istio/ci:go1.11-bazel0.22-clang7
    environment:
      - BAZEL_BUILD_ARGS: "--local_resources=12288,5,1"
      - BAZEL_TEST_ARGS: "--test_env=ENVOY_IP_TEST_VERSIONS=v4only --test_output=all --local_resources=12288,5,1 --local_test_jobs=8"
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          keys:
            - linux_fastbuild-bazel-cache-{{ checksum "WORKSPACE" }}
      # To build docker containers or run tests in a docker
      - setup_remote_docker
      - run: rm ~/.gitconfig
      - run: make check
      - run: make deb
      - run: make test
      - save_cache:
          key: linux_fastbuild-bazel-cache-{{ checksum "WORKSPACE" }}
          paths:
            - /home/circleci/.cache/bazel
      - store_artifacts:
          path: /home/circleci/project/bazel-bin/tools/deb/istio-proxy.deb
          destination: /proxy/deb
      - store_artifacts:
          path: /home/circleci/project/bazel-bin/src/envoy/envoy
          destination: /proxy/bin
  linux_asan:
    docker:
      - image: istio/ci:go1.11-bazel0.22-clang7
    environment:
      - BAZEL_BUILD_ARGS: "--local_resources=12288,5,1"
      - BAZEL_TEST_ARGS: "--test_env=ENVOY_IP_TEST_VERSIONS=v4only --test_output=all --local_resources=12288,5,1 --local_test_jobs=8"
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          keys:
            - linux_asan-bazel-cache-{{ checksum "WORKSPACE" }}
      # To build docker containers or run tests in a docker
      - setup_remote_docker
      - run: rm ~/.gitconfig
      - run: make test_asan
      - save_cache:
          key: linux_asan-bazel-cache-{{ checksum "WORKSPACE" }}
          paths:
            - /home/circleci/.cache/bazel
  linux_tsan:
    docker:
      - image: istio/ci:go1.11-bazel0.22-clang7
    environment:
      - BAZEL_BUILD_ARGS: "--local_resources=12288,5,1"
      - BAZEL_TEST_ARGS: "--test_env=ENVOY_IP_TEST_VERSIONS=v4only --test_output=all --local_resources=12288,5,1 --local_test_jobs=8"
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          keys:
            - linux_tsan-bazel-cache-{{ checksum "WORKSPACE" }}
      # To build docker containers or run tests in a docker
      - setup_remote_docker
      - run: rm ~/.gitconfig
      - run: make test_tsan
      - save_cache:
          key: linux_tsan-bazel-cache-{{ checksum "WORKSPACE" }}
          paths:
            - /home/circleci/.cache/bazel
  macos:
    macos:
      xcode: "9.3.1"
    environment:
      - BAZEL_STARTUP_ARGS: "--output_base /Users/distiller/.cache/bazel"
      - BAZEL_BUILD_ARGS: "--local_resources=12288,5,1 --incompatible_bzl_disallow_load_after_statement=false"
      - BAZEL_TEST_ARGS: "--test_env=ENVOY_IP_TEST_VERSIONS=v4only --test_output=all --local_resources=12288,5,1 --local_test_jobs=8 --incompatible_bzl_disallow_load_after_statement=false"
      - CC: clang
      - CXX: clang++
    steps:
      - run: sudo ntpdate -vu time.apple.com
      - run: brew tap bazelbuild/tap
      - run: brew tap-pin bazelbuild/tap
      - run: brew install bazelbuild/tap/bazel cmake coreutils go libtool ninja wget
      - checkout
      - restore_cache:
          keys:
            - macos_fastbuild-bazel-cache-v1-{{ checksum "WORKSPACE" }}
      - run: rm ~/.gitconfig
      - run: make build_envoy
      - run: make test
      - save_cache:
          key: macos_fastbuild-bazel-cache-v1-{{ checksum "WORKSPACE" }}
          paths:
            - /Users/distiller/.cache/bazel

workflows:
  version: 2
  all:
    jobs:
      - build
      - linux_asan
      - linux_tsan
      - macos
