name: server{{.N}}
tls_certificate:
{{ if divisible .N 2 }}
  certificate_chain: { filename: "testdata/certs/server.cert" }
  private_key: { filename: "testdata/certs/server-key.cert" }
{{ else }}
  certificate_chain: { filename: "testdata/certs/client.cert" }
  private_key: { filename: "testdata/certs/client-key.cert" }
{{ end }}

