http_request:
  request_method: "GET"
  request_url: "http://127.0.0.1:{{ .Ports.ClientPort }}/{{ .Vars.RequestPath }}"
  server_ip: "127.0.0.1:{{ .Ports.ClientPort }}"
  protocol: "http"
  status: {{ .Vars.SDLogStatusCode }}
  {{- if .Vars.UserAgent }}
  user_agent: "chrome"
  {{- else }}
  user_agent: "Go-http-client/1.1"
  {{- end }}
labels:
  destination_principal: "{{ .Vars.DestinationPrincipal }}"
  destination_service_host: server.default.svc.cluster.local
  destination_service_name: server
  response_flag: "-"
  service_authentication_policy: ""
  source_principal: "{{ .Vars.SourcePrincipal }}"
  {{- if .Vars.DestinationUnknown }}
  destination_name: ""
  destination_namespace: ""
  destination_workload: ""
  {{- else }}
  destination_name: ratings-v1-84975bc778-pxz2w
  destination_namespace: default
  destination_workload: ratings-v1
  destination_app: ratings
  destination_canonical_service: ratings
  destination_canonical_revision: version-1
  destination_service_name: server
  {{- if .Vars.LogsCustomized }}
  source_workload1: "_productpage-v1"
  source_workload_namespace1: "_default"
  source_app1: "_productpage"
  source_version1: "_productpage"
  destination_version: "_v1"
  request_protocol: "HTTP/1.1"
  destination_service_namespace: "_ratings"
  {{- else }}
  destination_version: v1
  {{- end }}
  {{- end }}
  protocol: http
  {{- if .Vars.LogSampled }}
  log_sampled: "true"
  {{- else }}
  log_sampled: "false"
  {{- end }}
  upstream_cluster: "server-outbound-cluster"
  route_name: client_route
  response_details: "via_upstream"
{{- if eq .Vars.SDLogStatusCode "200" }}
severity: INFO
{{- else }}
severity: ERROR
{{- end }}
