labels:
  destination_principal: "{{ .Vars.DestinationPrincipal }}"
  destination_service_host: server.default.svc.cluster.local
  destination_service_name: server
  response_flag: "-"
  service_authentication_policy: ""
  {{- if .Vars.DestinationUnknown }}
  destination_name: ""
  destination_namespace: ""
  destination_workload: ""
  {{- else }}
  destination_name: ratings-v1-84975bc778-pxz2w
  destination_namespace: default
  destination_workload: ratings-v1
  destination_app: ratings
  destination_canonical_service: ratings
  destination_canonical_revision: version-1
  destination_version: v1
  {{- end }}
  source_principal: "{{ .Vars.SourcePrincipal }}"
  destination_ip: "127.0.0.1:{{ .Ports.ClientPort }}"
  protocol: tcp
  connection_state: "OPEN"
  log_sampled: "false"
  upstream_cluster: "outbound|9080|tcp|server.default.svc.cluster.local"
severity: INFO
{{- if .Vars.DestinationUnknown }}
text_payload: "productpage-v1 --> server"
{{- else }}
text_payload: "productpage-v1 --> ratings"
{{- end }}
