http_request:
  request_method: "GET"
  {{- if eq .Vars.ServiceAuthenticationPolicy "MUTUAL_TLS" }}
  request_url: "https://127.0.0.1:{{ .Ports.ClientPort }}/{{ .Vars.RequestPath }}"
  {{- else }}
  request_url: "http://127.0.0.1:{{ .Ports.ClientPort }}/{{ .Vars.RequestPath }}"
  {{- end }}
  server_ip: "127.0.0.1:{{ .Ports.ClientPort }}"
  protocol: "http"
  status: {{ .Vars.SDLogStatusCode }}
labels:
  destination_principal: "{{ .Vars.DestinationPrincipal }}"
  destination_service_host: server.default.svc.cluster.local
  response_flag: "-"
  service_authentication_policy: ""
  source_principal: "{{ .Vars.SourcePrincipal }}"
  {{- if .Vars.DestinationUnknown }}
  destination_name: ""
  destination_namespace: ""
  destination_workload: ""
  destination_service_name: server.default.svc.cluster.local
  {{- else }}
  destination_name: ratings-v1-84975bc778-pxz2w
  destination_namespace: default
  destination_workload: ratings-v1
  destination_app: ratings
  destination_canonical_service: ratings
  destination_canonical_revision: version-1
  destination_version: v1
  destination_service_name: server
  {{- end }}
  protocol: http
  {{- if .Vars.LogSampled }}
  log_sampled: "true"
  {{- else }}
  log_sampled: "false"
  {{- end }}
  upstream_cluster: "outbound|9080|http|server.default.svc.cluster.local"
severity: INFO