http_request:
  request_method: "GET"
  request_url: "http://127.0.0.1:{{ .Ports.ClientPort }}/"
  server_ip: "127.0.0.1:{{ .Ports.ClientPort }}"
  protocol: "http"
  status: 200
  user_agent: "Go-http-client/1.1"
labels:
  destination_principal: ""
  destination_service_host: server.default.svc.cluster.local
  destination_service_name: server
  protocol: http
  response_flag: "-"
  service_authentication_policy: ""
  source_principal: ""
  destination_name: ratings-v1-84975bc778-pxz2w
  destination_namespace: default
  destination_workload: ratings-v1
  destination_app: ratings
  destination_version: v1
  destination_canonical_revision: version-1
  destination_canonical_service: ratings
  log_sampled: "false"
  response_details: "via_upstream"
  upstream_cluster: "server-outbound-cluster"
  route_name: client_route
severity: INFO
