labels:
  source_name: ratings-v1-84975bc778-pxz2w
  source_namespace: default
  source_workload: ratings-v1
  source_app: ratings
  source_version: v1
  source_canonical_service: ratings
  source_canonical_revision: version-1
  mesh_uid: proj-123
logName: projects/test-project/logs/client-accesslog-stackdriver
resource:
  labels:
    cluster_name: test-cluster
    location: us-east4-b
    namespace_name: default
    pod_name: ratings-v1-84975bc778-pxz2w
    project_id: test-project
  type: k8s_pod
