metric:
  labels:
    api_name:
    api_version:
    destination_canonical_revision: ratings-00001-xyz
    destination_canonical_service_name: ratings
    destination_canonical_service_namespace: test-project
    destination_owner: unknown
    destination_port: '{{ .Ports.ServerPort }}'
    {{- if .Vars.DestinationPrincipal }}
    destination_principal: "{{ .Vars.DestinationPrincipal }}"
    {{- else }}
    destination_principal: unknown
    {{- end }}
    destination_service_name: server
    destination_service_namespace: test-project
    destination_workload_name: ratings
    destination_workload_namespace: test-project
    mesh_uid: projects/23413241234/locations/global/meshes/test-mesh
    request_operation: override
    request_protocol: http
    response_code: "200"
    service_authentication_policy: unknown # TODO: upstream TLS indicator is not reported
    source_canonical_revision: productpage-00001-abc
    source_canonical_service_name: productpage
    source_canonical_service_namespace: test-project
    source_owner: unknown
    {{- if .Vars.SourcePrincipal }}
    source_principal: "{{ .Vars.SourcePrincipal }}"
    {{- else }}
    source_principal: unknown
    {{- end }}
    source_workload_name: productpage
    source_workload_namespace: test-project
    proxy_version: CSM
  type: istio.io/service/client/request_count
points:
- value:
    int64Value: "10"
resource:
  labels:
    project_id: test-project
    service_name: productpage
    revision_name: productpage-00001-abc
    location: us-central1
    configuration_name: productpage
  type: cloud_run_revision
