http_request:
  request_method: "GET"
  request_url: "http://127.0.0.1:{{ .Ports.ClientPort }}/"
  server_ip: "127.0.0.2:{{ .Ports.ServerPort }}"
  protocol: "http"
  status: 200
  user_agent: "Go-http-client/1.1"
labels:
  destination_principal: ""
  destination_service_host: server.default.svc.cluster.local
  destination_service_name: server
  protocol: http
  response_flag: "-"
  service_authentication_policy: NONE
  source_name: ratings-v1-84975bc778-pxz2w
  source_namespace: default
  source_principal: ""
  source_workload: ratings-v1
  source_app: ratings
  source_version: v1
  source_canonical_service: ratings
  source_canonical_revision: version-1
  log_sampled: "false"
  response_details: "via_upstream"
  upstream_cluster: "server-inbound-cluster"
  route_name: server_route
severity: INFO
