entries:
- http_request:
    request_method: "GET"
    request_url: "http://127.0.0.1:{{ .Vars.ClientPort }}/{{ .Vars.RequestPath }}"
    server_ip: "127.0.0.1:{{ .Vars.ServerPort }}"
    protocol: "http"
    status: 200
  labels:
    destination_principal: "{{ .Vars.DestinationPrincipal }}"
    destination_service_host: server.default.svc.cluster.local
    response_flag: "-"
    service_authentication_policy: {{ .Vars.ServiceAuthenticationPolicy }}
    source_name: productpage-v1-84975bc778-pxz2w
    source_namespace: default
    source_principal: "{{ .Vars.SourcePrincipal }}"
    source_workload: productpage-v1
    source_app: productpage
    source_version: v1
  severity: INFO
- http_request:
    request_method: "GET"
    request_url: "http://127.0.0.1:{{ .Vars.ClientPort }}/{{ .Vars.RequestPath }}"
    server_ip: "127.0.0.1:{{ .Vars.ServerPort }}"
    protocol: "http"
    status: 200
  labels:
    destination_principal: "{{ .Vars.DestinationPrincipal }}"
    destination_service_host: server.default.svc.cluster.local
    response_flag: "-"
    service_authentication_policy: {{ .Vars.ServiceAuthenticationPolicy }}
    source_name: productpage-v1-84975bc778-pxz2w
    source_namespace: default
    source_principal: "{{ .Vars.SourcePrincipal }}"
    source_workload: productpage-v1
    source_app: productpage
    source_version: v1
  severity: INFO
- http_request:
    request_method: "GET"
    request_url: "http://127.0.0.1:{{ .Vars.ClientPort }}/{{ .Vars.RequestPath }}"
    server_ip: "127.0.0.1:{{ .Vars.ServerPort }}"
    protocol: "http"
    status: 200
  labels:
    destination_principal: "{{ .Vars.DestinationPrincipal }}"
    destination_service_host: server.default.svc.cluster.local
    response_flag: "-"
    service_authentication_policy: {{ .Vars.ServiceAuthenticationPolicy }}
    source_name: productpage-v1-84975bc778-pxz2w
    source_namespace: default
    source_principal: "{{ .Vars.SourcePrincipal }}"
    source_workload: productpage-v1
    source_app: productpage
    source_version: v1
  severity: INFO
- http_request:
    request_method: "GET"
    request_url: "http://127.0.0.1:{{ .Vars.ClientPort }}/{{ .Vars.RequestPath }}"
    server_ip: "127.0.0.1:{{ .Vars.ServerPort }}"
    protocol: "http"
    status: 200
  labels:
    destination_principal: "{{ .Vars.DestinationPrincipal }}"
    destination_service_host: server.default.svc.cluster.local
    response_flag: "-"
    service_authentication_policy: {{ .Vars.ServiceAuthenticationPolicy }}
    source_name: productpage-v1-84975bc778-pxz2w
    source_namespace: default
    source_principal: "{{ .Vars.SourcePrincipal }}"
    source_workload: productpage-v1
    source_app: productpage
    source_version: v1
  severity: INFO
- http_request:
    request_method: "GET"
    request_url: "http://127.0.0.1:{{ .Vars.ClientPort }}/{{ .Vars.RequestPath }}"
    server_ip: "127.0.0.1:{{ .Vars.ServerPort }}"
    protocol: "http"
    status: 200
  labels:
    destination_principal: "{{ .Vars.DestinationPrincipal }}"
    destination_service_host: server.default.svc.cluster.local
    response_flag: "-"
    service_authentication_policy: {{ .Vars.ServiceAuthenticationPolicy }}
    source_name: productpage-v1-84975bc778-pxz2w
    source_namespace: default
    source_principal: "{{ .Vars.SourcePrincipal }}"
    source_workload: productpage-v1
    source_app: productpage
    source_version: v1
  severity: INFO
labels:
  destination_name: ratings-v1-84975bc778-pxz2w
  destination_namespace: default
  destination_workload: ratings-v1
  destination_app: ratings
  destination_version: v1
  mesh_uid: mesh
logName: projects/test-project/logs/server-accesslog-stackdriver
resource:
  labels:
    cluster_name: test-cluster
    container_name: istio-proxy
    location: us-east4-b
    namespace_name: default
    pod_name: ratings-v1-84975bc778-pxz2w
    project_id: test-project
  type: k8s_container
