http_request:
  request_method: "GET"
  request_url: "http://127.0.0.1:{{ .Ports.ClientPort }}/{{ .Vars.RequestPath }}"
  server_ip: "127.0.0.1:{{ .Ports.ServerPort }}"
  protocol: "http"
  status: {{ .Vars.SDLogStatusCode }}
  user_agent: "Go-http-client/1.1"
labels:
  destination_principal: "{{ .Vars.DestinationPrincipal }}"
  destination_service_host: server.default.svc.cluster.local
  destination_service_name: server
  source_principal: "{{ .Vars.SourcePrincipal }}"
  source_workload: productpage-v1
  source_namespace: default
  source_app: productpage
  source_canonical_service: productpage-v1
  source_canonical_revision: version-1
severity: INFO