"CONFIG_NAMESPACE": "default",
"INCLUDE_INBOUND_PORTS": "9080",
"INTERCEPTION_MODE": "REDIRECT",
"ISTIO_PROXY_SHA": "istio-proxy:47e4559b8e4f0d516c0d17b233d127a3deb3d7ce",
"ISTIO_VERSION": "1.5-dev",
"MESH_ID": "proj-123",
"NAMESPACE": "default",
"CLUSTER_ID": "server-cluster",
"OWNER": "kubernetes://apis/apps/v1/namespaces/default/deployments/ratings-v1",
"SERVICE_ACCOUNT": "bookinfo-ratings",
